@import "../../variables.styles.scss";
.main-footer {
  grid-row-start: 3;
  background: $secondary;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  h3 {
    color: $gray;
    margin: 0;
    padding: 1.5rem;
  }
}
